<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body{
            text-align: center;
            background-color:rgb(13, 13, 26);
        }
        h1{
            color:lavender;
        }

    </style>
    <h1>home</h1>
    <a href="addstudent"><h2>Add Student</h2></a>
    <a href="displaystudent"><h2>Display</h2></a>
    <a href="updatestudent"><h2>Update</h2></a>
    
</body>
</html>